incremental_db/
output_files/
*.flock
*.rdr
*.log
*.vhd.bak
*.qpf
*.qsf
*db_info
*.root_partition.map.cdb
*.root_partition.map.dpi
*.root_partition.map.hdb
*.root_partition.map.hbdb.sig
*.root_partition.map.hbdb.hb_info
*.root_partition.map.hbdb.hdb
*.root_partition.map.kpt
*.done
*.flow.rpt
*.map.rpt
*.map.summary
